@{
    var dts = "-10";
    if (ViewContext.RouteData.Values["controller"].ToString().ToLower()=="home" && ViewContext.RouteData.Values["action"].ToString().ToLower() == "ındex")
    {
        dts = "20";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - gsu_math</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gsu_math.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/logo.PNG">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- font icons -->
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="~/assets/css/meyawo.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <!-- Page Navbar -->
    <nav class="custom-navbar affix" data-spy="affix" data-offset-top="@dts">
        <div class="container">
            <a class="logo" asp-controller="Home" asp-action="index">gsü math</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" asp-controller="Home" asp-action="index">Anasayfa</a>
                </li>
                <li class="item">
                    <a class="link" asp-controller="Forum" asp-action="index">Forum</a>
                </li>
                <li class="item">
                    <a class="link" asp-controller="Blog" asp-action="index">Blog</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                    {
                    <div class="dropdown" style="position: relative; ">
                        <li class="item">
                            <a class="link" ><i class="bi bi-bell" style="position: relative;" onclick="toggle_notifs_bar();"><span class="notifications" id="notifs"></span></i></a>
                        </li>
                        <div id="notifs-bar" style="background-color:rgb(255,255,255);overflow-y:scroll;" class="position-absolute" hidden>

                        </div>
                    </div>
                    
                    <li class="item">
                        <a class="link" asp-controller="Panel" asp-action="index"><i class="bi bi-kanban"></i></a>
                    </li>
                    <li class="item">
                        <a class="link" asp-controller="Account" asp-action="profil"><i class="bi bi-gear"></i></a>
                    </li>
                    <li class="item ml-md-3">
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Çıkış yap</a>    
                    </li>
                    }
                @if (!User.Identity.IsAuthenticated)
                    {
                    <li class="item ml-md-3">
                        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Giriş yap</a>
                    </li>
                    <li class="item ml-md-3">
                        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Üye ol</a>
                    </li>
                    }
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->
    
    
    @RenderBody()
    

    <!-- footer -->

    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a
                href="https://gsumath.com">gsü math</a>
        </p>
        <div class="social-links text-center m-auto ml-sm-auto">
            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
        </div>
    </footer>
    <!-- end of page footer -->

    <!-- core  -->
    <script src="~/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="~/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="~/assets/js/meyawo.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var ss = document.getElementById("notifs");
        function toggle_notifs_bar(){
            ss.hidden=true;
            var s = document.getElementById("notifs-bar");
            if(s.hidden){
                s.hidden = false;
            }else{
                s.hidden = true;
            }
            $.get("/bildirim/is_read",function(data){
                return true;
            })
            
            

        }
        
        var nb = document.getElementById("notifs-bar");
        $.get( "/bildirim/notifications", function( data ) {
            s = 0;
            for (let i = 0; i < data.length; i++)
            {
                const a = data[i];
                if(!a.is_read)
                {
                    s+=1
                    ss.innerHTML=s
                    nb.innerHTML+="<div class='ntfs-m' style='width:100%;position:relative;padding:10px'>"+"<a href='/"+a.controller+"/"+a.action+"/"+a.otherid+"'>"+a.name+"</a>"+"<div class = 'text-muted' style='position:absolute;top:30px;right:0px;padding:0px;margin:0px;font-size:12px;'><span >"+a.at_created.substring(0,a.at_created.indexOf("T"))+"</span>"+"<span>|"+a.at_created.substring(a.at_created.indexOf("T")+1,a.at_created.indexOf("."))+"</span></div>"+"</div>"+"<hr>"

                }else{
                    nb.innerHTML+="<div style='width:100%;position:relative;padding:10px'>"+"<a href='/"+a.controller+"/"+a.action+"/"+a.otherid+"'>"+a.name+"</a>"+"<div class = 'text-muted' style='position:absolute;top:30px;right:0px;padding:0px;margin:0px;font-size:12px;'><span >"+a.at_created.substring(0,a.at_created.indexOf("T"))+"</span>"+"<span>|"+a.at_created.substring(a.at_created.indexOf("T")+1,a.at_created.indexOf("."))+"</span></div>"+"</div>"+"<hr>"
                }
            }
            if(s == 0){
                ss.hidden = true;
            }
        });
    </script>
</body>

</html>