@model gsu_math.ViewModels.ResetPassViewModel
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Şifreni Yenile";
}
<style>
    form div{
        margin-top: 4%;
    }
</style>
<div class="container">
<div class="row" style="margin-top:80px;">
    <div class="col-md-4 offset-md-4">
        <div>
            <h3>yeni şifren</h3>
        </div>
        <form asp-action="ChangeMyPass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control">
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            
            <div class="form-group d-grid" style="margin-bottom: 90px;">
                <input type="submit" value="yenile" class="btn btn-primary mt-2 d-flex text-center rounded">
            </div>
            
        </form>
    </div>
</div>
</div>