@{
    Layout = "_Layout2";
    ViewData["Title"] ="Hesabını artık aktif";

}
<div class="container text-center" style="margin-top:120px;">
    <h3>hesabın artık aktif</h3>
    <br>
    <span class="h5"><a asp-controller="Account" asp-action="Login" class="btn btn-success">giriş yap</a></span>
</div>