@{
    Layout = "_Layout2";
    ViewData["Title"] ="Posta kutunu kontrol et";

}
<div class="container text-center" style="margin-top:120px;">
    <h3>sana şifreni yenilemen için bir bağlantı gönderdik lütfen mail kutunu kontrol et</h3>
</div>