@{
    Layout = "_Layout2";
}
@model List<gsu_math.Models.Blog>
<!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Merhaba!</span>
                <span class="down">gsü math'a hoşgeldin</span>
            </h1>
            <p class="header-subtitle"></p>

        </div>
    </header><!-- end of page header -->
<!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="assets/imgs/man.png" class="about-img"
                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Amacımız ne ?</p>
                    <h2 class="section-title mb-3">Biz kimiz ?</h2>
                    <p>
                        Galatasaray Üniversitesi matematik Kulübü olarak öğrenciler ve akademisyenlerin de içerisinde bulunduğu
                        gsü math projesini hayata geçirdik.
                        <br>
                        Galatasaray Üniversitesi'nde matematiğe ilgili olan herkesi aramızda görmek isteriz.
                    </p>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">Burada neler bulabilirsin ?</p>
            <h6 class="section-title mb-6">Uygulamalarımız</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/pencil-case.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Forum</h6>
                            <p class="subtitle">Merak ettiklerimizi, yapamadıklarımızı veya yapamadıklarımızı sorabileceğimiz bir forum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/responsive.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Blog</h6>
                            <p class="subtitle">Her üyenin yazmak istediği herhangi bir konuyu seçip diğer üyeleri bilgilendirebileceği bir blog.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/toolbox.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Dergi</h6>
                            <p class="subtitle">Önceki yıllarda öğrenciler tarafından yazılan dergilerimizi yayınlayacağız.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/analytics.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Etkinlik</h6>
                            <p class="subtitle">Galatasaray Üniversitesi olarak düzenlediğimiz veya katıldığımız etkinlikleri buradan duyuracağız.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->


    

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Bize katılmak mı istiyorsun?</h6>
                    <p class="m-0 text-light">Kolayca üye olup aramıza katılabilirsin</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <a asp-controller="Account" asp-action="Register" class="btn btn-lg my-font btn-light rounded">Üye ol</a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    
    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Son Paylaşılanlar</p>
            <h6 class="section-title mb-6">Blog</h6>
            <!-- blog-wrapper -->
            @foreach (var item in @Model)
            {
                
            
            <div class="blog-card">
                <div class="blog-card-body">
                    <h5 class="blog-card-title">@item.Name</h5>

                        <p class="blog-card-caption">
                            <a href="#">@item.Author</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                        </p>
                        <a asp-controller="blog" asp-action="detail" asp-route-id="@item.slug" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
            }
        </div><!-- end of container -->
    </section><!-- end of blog section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Contact Me</h6>
            <!-- contact form -->
            <form action="" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" size="50" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" placeholder="Enter Email" requried>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" rows="6" class="form-control"
                            placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                    </div>
                </div>
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->