@{
    Layout = "_Layout2";
    ViewData["Title"] = "Anasayfa";
}
@model List<gsu_math.Models.Blog>
<!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Merhaba!</span>
                <span class="down">gsü math'a hoşgeldin</span>
            </h1>
            <p class="header-subtitle"></p>

        </div>
    </header><!-- end of page header -->
<!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="~/images/logo.PNG" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" class="about-img w-50"
                        alt="logo1">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Amacımız ne ?</p>
                    <h2 class="section-title mb-3">Biz kimiz ?</h2>
                    <p>
                        
                    </p>
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">Burada neler bulabilirsin ?</p>
            <h6 class="section-title mb-6">Uygulamalarımız</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/pencil-case.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Forum</h6>
                            <p class="subtitle">Merak ettiklerimizi sorabileceğimiz bir forum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/toolbox.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Dergi</h6>
                            <p class="subtitle">Önceki yıllarda öğrenciler tarafından yayınlanan dergilerimizin devamını yayınlayacağız.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/analytics.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Etkinlik</h6>
                            <p class="subtitle">Galatasaray Üniversitesi Matematik Kulübü olarak düzenlediğimiz veya katıldığımız etkinlikleri buradan duyuracağız.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->


    

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Bize katılmak mı istiyorsun?</h6>
                    <p class="m-0 text-light">Kolayca üye olup aramıza katılabilirsin</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <a asp-controller="Account" asp-action="Register" class="btn btn-lg my-font btn-light rounded">Üye ol</a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    
    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Son Paylaşılanlar</p>
            <h6 class="section-title mb-6">Blog</h6>
            <!-- blog-wrapper -->
            @foreach (var item in @Model)
            {
                
            
            <div class="blog-card">
                <div class="blog-card-body">
                    <h5 class="blog-card-title">@item.Name</h5>

                        <p class="blog-card-caption">
                            <a href="#">@item.Author</a>
                            <span class="text-muted">@item.AtCreated</span>
                        </p>
                        <a asp-controller="blog" asp-action="detail" asp-route-id="@item.slug" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
            }
        </div><!-- end of container -->
    </section><!-- end of blog section -->

    