@{
    Layout = "_Layout2";
    ViewData["Title"] = "Panel";

}

<div class="row offset-md-1 text-center " style="margin-top: 90px;">
    <div class="col-md-3 border h-100 d-flex align-items-center justify-content-center">
        <a asp-controller="Panel" asp-action="Blog">Bloglar</a>
    </div>
    <div class="col-md-3 border h-100 d-flex align-items-center justify-content-center">
        <a asp-controller="Panel" asp-action="users">Users</a>
    </div>
</div>
<style>
    .h-100{
        height: 100px !important;
    }
</style>