@model gsu_math.Models.Yetki
<div class="row">
    <form asp-action="YetkiCreate" asp-controller="Panel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YetkiHarf" class="control-label"></label>
                <input asp-for="YetkiHarf" class="form-control">
                <span asp-validation-for="YetkiHarf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control">
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <input type="submit" value="Yarat">
    </form>
</div>